<!DOCTYPE html>
<html>
<head>	
</head>
<body>
	<% rows.forEach(function(user){ %>
 	<p><b>Name:</b><%= user.name %> <b>Email:</b><%= user.email %> <b>Password:</b><%= user.password %></p>
 	<p><b>Number:</b><%= user.number %> <b>Favorites:</b><%= user.favorites %> %></p>
	<% }) %>
</body>
</html>